html {
    box-sizing: border-box
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}
@font-face { 
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'),
         url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff');
         font-display: swap; 
         font-weight: 300;
         font-style: normal;
}
@font-face { 
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
         font-display: swap; 
         font-weight: 400;
         font-style: normal;   
}
@font-face { 
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff');
         font-display: swap; 
         font-weight: 600;
         font-style: normal;
}
body {
    font-family: 'OpenSans',sans-serif;
    max-width: 80%;
    margin: 30px 185px 45px 185px; 
   
}
img {
    max-width: 100%;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.free-trial
 {
    background-color: #3172B9;
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 3px;
}
.section-content {
    background-image: url(../images/first-bg\ 1.jpg);
    background-repeat: no-repeat;
    width: 1540px;
    height: 550px;
    /* margin-bottom: 87px; */
}
.section-content-block {
    padding-left: 185px;
}

.nav-list {
    height: 80px;
    background-color: #fff;
}
.nav-list, .nav-item-list {
    display: flex;
    align-items: center;
    padding-left: 185px;
    /* justify-content: space-between; */
}

.nav-item-list {
    gap: 52px;
    padding-left: 271px;
    padding-right: 52px;
}

.nav-list-item {
    font-family:'OpenSans-SemiBold',sans-serif ;
}


.way {
    width: 529px;
    height: 104px;

}
.text1 {
    width: 471px;
    height: 50px;
}

.dayTrial {
    width: 250px;
    height: 58px;
    border-radius: 3px;
    background-color:#3172B9;
    color: #fff;
    padding: 15px 35px;
    margin-bottom: 14px;
}

.logo-secure {
    
    background-image: url(../images/secure.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
    margin: 28px 40px 87px 40px;
    font-size: 11px;
}

.list {
    font-size: 36px;
    display: flex;
    margin: 87px 704px 21px 704px;

}

.services-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 160px;
}

.about-services {
     font-size: 16px;
    display: flex;
    margin: 21px 480px 54px 480px;
}

.services-list {
    display: flex;
    flex-direction: row;
    margin: 0px 185px 0px 0px;
    gap: 30px;
    padding-left: 185px;
}

.list-services{
    width: 270px;
    height: 320px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: flex;
    align-items: center;  
    flex-direction: column;  
    justify-content: center;
}
.about-services-block {
    width: 210px;
    height: 63px;
    font-size: 14px;
    line-height: 150%;
    margin: 0px;
    text-align: center;
}


.article {
    margin: 0;
    padding-left: 185px;
}

.header-article {
    font-size: 36px;
    width: 118px;
    height: 47px;
    margin-bottom: 42px;
}
.articles-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 248px;
}

.articles-list-item {
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(50% - 15px);
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    height: 180px;
    max-width: 570px;
    
}

.articles-list-item:nth-child(1) {
    background-image: url(../images/Jurisdiction.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 180px;
}

.articles-list-item:nth-child(2) {
    background-image: url(../images/Consulting.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 180px;
}

.articles-list-item:nth-child(3) {
    background-image: url(../images/Rights\ and\ obilgations.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 180px;
}

.articles-list-item:nth-child(4) {
    background-image: url(../images/Contractors.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 180px;
}

.comment {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.aboutphoto {
    height: 63px;
    width: 210px;
    font-size: 14px;
}

.description {
    width: 109px;
    height: 26px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.date {
    width: 59px;
    height: 15px;
    font-size: 10px;
}

.client {
    padding-left: 185px;
}

.header-clients{
    font-size: 36px;
    width: 118px;
    height: 47px;
    margin-bottom: 42px;
}

.clients-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 248px;
    gap: 30px;
    /* width: 370px;
    height: 362px; */
}

.clients-list {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 calc(33.3% - 15px); */
    border-radius: 5px;
    border: #E4E4E4 solid 1px;
    width: 370px;
    height: 362px;
    padding-top: 51px;
    padding-left: 36px;
}

.customers-comment {
    width: 281px;
    height: 150px;
    font-size: 14px;
    padding-bottom: 62px;
}

.customers {
    display: flex;
    flex-direction: row;
}

.names-customer{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

.name-customer {
    margin-bottom: 5px;
    font-size: 17px;
}
 .customer {
    width: 65px;
    height: 25px;
    font-size: 14px;
 }

.imgCustomer {
    width: 67px;
    height: 67px;
}

.contact {
    padding-left: 185px;  
}

.contacts {
    font-size: 36px;
    width: 118px;
    height: 47px;
    margin-bottom: 42px;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 109px;
}

.contacts-list:nth-child(1) {
    background-image: url(../images/location_on.svg);
    background-repeat: no-repeat;
    margin-bottom: 161px;
    display: flex;
    flex-direction: column;
    width: 214px;
    height: 159px;
    padding: 19px 0;
    margin-right: 186px;
}

.visitus {
    width: 61px;
    height: 31px;
    font-size: 17px;
    margin-bottom: 19px;
}
.aboutus {
    width: 214px;
    height: 50px;
    font-size: 14px;
}

.contacts-list:nth-child(2) {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    width: 121px;
    height: 159px;
    margin-right: 279px;
    padding: 19px 0;
}

.callus {
    width: 56px;
    height: 31px;
    font-size: 17px;
    margin-bottom: 19px;
}

.tel {
    width: 121px;
    height: 25px;
    font-size: 14px;
}

.contacts-list:nth-child(3) {
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    width: 170px;
    height: 159px;
    padding: 19px 0;
}

.emailus {
    width: 71px;
    height: 31px;
    font-size: 17px;
    margin-bottom: 19px;
}

#joinUs {
    height: 573px;
    width: 1539px;
    padding-left: 717px;
}

.footer-wrapper {
    background-image: url(../images/logo\ \(1\).svg);
    background-repeat: no-repeat;
    margin-left:  185px;
    height: 89px;
    max-width: 1169px;
    display: flex;
    gap: 56px;
    position: relative;
}

.copyright {
    position: absolute;
    left: 140px;
    bottom: 60px;
    width: 202px;
    height: 16px;
    font-size: 12px;
}

.footer-item {
    margin-left: 426px;
    display: flex;
    gap: 28px;
}
.footer-list {
    height: 20px;
    font-size: 15px;
}
.footer-list:nth-child(1) {
    width: 67px;
}

.footer-list:nth-child(2) {
    width: 79px;
}

.footer-list:nth-child(3) {
    width: 99px;
}

.footer-list:nth-child(4) {
    width: 120px;
}

.weblink {
    display: flex;
    gap: 32px;
}